<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- bootstrap-table -->
    <link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">

    <!-- font font-awesome -->
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- bootstrap-select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- bootstrap-select -->

    <title>Pathway Analysis</title>
</head>

<body>
    <div class="container">
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
            <a class="navbar-brand" href="#">PALS Viewer by Django</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="nav-pathway">
                        <a class="nav-link" href="{% url 'pals_viewer:index' %}">Pathway </a>
                    </li>
                    <li class="nav-item" id="nav-gnps">
                        <a class="nav-link" href="{% url 'pals_viewer:gnps_index' %}">GNPS Molecular Family </a>
                    </li>
                    <li class="nav-item" id="nav-ms2lda">
                        <a class="nav-link" href="{% url 'pals_viewer:ms2lda_index' %}">GNPS-MS2LDA </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Nav bar -->
        <div class="row">
            <div class="col-md-12">
                <!-- content -->
                {% block content %}
                {% endblock %}
                <!-- content -->
            </div>
        </div>
    </div>

    {% block modals %}
    {% endblock %}

    <div id="example_message" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true"
        data-autohide="true" data-delay="3000" style="width: 200px;">
        <div class="toast-header">
            <strong class="mr-auto" id="message_type"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="message"></div>
    </div>

    <div aria-live="polite" aria-atomic="true">
        <!-- Position it -->
        <div id="message_list" style="position: fixed; top: 20px; right: 20px;">
            <!-- Then put toasts within -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

        <!-- bootstrap-table -->
        <script src="{% static 'js/tableExport.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-table-export.min.js' %}">
        </script>
    
        <!-- bootstrap-select -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        // display loading animation
        function display_loading_animation(button_id) {
            let start_icon = button_id + '_start';
            let running_icon = button_id + '_running';
            $(start_icon).hide();
            $(running_icon).show();
            $(button_id).attr("disabled", true);
        }
        // display loading animation

        // remove loading animation
        function remove_loading_animation(button_id) {
            let start_icon = button_id + '_start';
            let running_icon = button_id + '_running';
            $(start_icon).show();
            $(running_icon).hide();
            $(button_id).removeAttr("disabled");
        }
        // remove loading animation

        // show message or error
        function show_message(message_type, content) {
            // set new content
            $("#message_type").text(message_type);
            $("#message").text(content);

            // clone the new message
            let new_toast = $("#example_message").clone();

            // remove ids
            new_toast.removeAttr("id");

            // add new message to message list
            $("#message_list").append(new_toast);

            // show the new message
            new_toast.toast('show');
        }
        // show message or error

        // display single row detail
        function operateFormatter(value, row, index) {
            console.log('index', index, 'row=', row);
            return [
                '<a class="view" href="javascript:void(0)" onclick="display_detail(\'' + row["header-0"] +
                '\')" title="View">',
                // '<a class="view" href="javascript:void(0)" onclick="display_detail(\''+row["header-0"]+'\')" title="View">',
                '<i class="fa fa-eye"></i>',
                ' ',
                value,
                '</a>  ',
            ].join('')
        }
        // display single row detail

        // display table
        function display_table(headers, rows, display_columns=[]) {

            // clean old table
            let result_table = $("#result-table");
            result_table.empty();

            // add header config
            // make each column sortable
            // column config example:
            // [{
            //     title: 'Item ID',
            //     field: 'id',
            //     rowspan: 2,
            //     align: 'center',
            //     valign: 'middle',
            //     sortable: true,
            //     footerFormatter: totalTextFormatter
            // }]
            headers[0] = "id";
            let columns = new Array();
            let display_fields = [];
            for (let i = 0; i < headers.length; i++) {
                const element = headers[i];

                let column = {
                    "title": element,
                    "field": "header-" + i,
                    "sortable": true,
                };

                if (display_columns.indexOf(element) > -1) {
                    display_fields.push("header-"+i);
                }

                if (i == 1) {
                    column["formatter"] = operateFormatter
                }
                columns.push(column);
            }

            // make table data
            data = [];
            rows.forEach(row => {
                let tr = {};
                for (let i = 0; i < row.length; i++) {
                    tr["header-" + i] = row[i];
                }
                data.push(tr);
            });

            // init table
            bootstrap_table = result_table.bootstrapTable('destroy').bootstrapTable({
                showExport: true,
                exportDataType: "all",
                exportTypes: ['json', 'csv', 'txt'],
                columns: columns,
                data: data
            })

            // if exists display columns, just hide all columns and show 
            // display columns
            if (display_fields.length > 0) {
                result_table.bootstrapTable('hideAllColumns');
                display_fields.forEach(element => {
                    result_table.bootstrapTable('showColumn', element);
                });
            }
        }
        // display table

        // init nav active
        $(function () {
            $("{{active_nav_id}}").addClass('active');
        });
        // init nav active
    </script>

{% block custom_javascript %}
{% endblock %}
</body>

</html>
