{% extends 'base.html' %}
{% block content %}
<!-- content -->
<div class="content">
    <h1 class="mt-4 mb-4">PALS - Pathway Activity Level Scoring</h1>

    <h3>GNPS Molecular Family</h3>
    <p>Please upload your intensity (example) and annotation (example) CSV files from the sidebar. Next,
        select the case and control groups, the pathway analysis method as well as the database to use.
    </p>

    <!-- pimp setting -->
    <div class="row">
        <div class="col-md-12">
            <h2>1. Please set data source</h2>
        </div>
    </div>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"><label>GNPS database url</label><input type="text" class="form-control"
                    name="gnps_url" value="" placeholder="e.g. https://example.com/gnps_database_url"></div>
        </div>
        <div class="col-md-4">
            <div class="form-group"><label>Metadata</label><input type="file" class="form-control-file" name="metadata"
                    value="">
            </div>
        </div>
    </div>
    <!-- get data -->
    <div class="row">
        <div class="col-md-8"><button class="btn btn-lg btn-primary btn-block mb-2" id="get_data"><span
                    id="get_data_start">Get Data</span><span id="get_data_running"><span
                        class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                        Process is running, it may take about a few minutes, please be patient...</span></button></div>
    </div>
    <!-- get data -->
    <div class="row">
        <div class="col-md-12">
            <h2>2. Please set Comparisons</h2>
        </div>
    </div>

    <div class="row">
        <input type="hidden" name="gnps_metadata_df_filename">
        <input type="hidden" name="gnps_annotation_df_filename">
        <input type="hidden" name="gnps_measurement_df_filename">
        <input type="hidden" name="experimental_design">
        <input type="hidden" name="gnps_load_data_filename">
        <div class="col-md-8">
            <div class="form-group"><label>Comparisons</label>
                <ul class="nav nav-tabs" id="experimental_design_tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="comparison_tab" data-toggle="tab" href="#comparison" role="tab"
                            aria-controls="comparison" aria-selected="false">Set Comparisons</a>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="experimental_design_tab" data-toggle="tab"
                                            href="#experimental_design" role="tab" aria-controls="experimental_design"
                                            aria-selected="false">2. View Current Comparisons</a>
                                    </li> -->
                </ul>
                <div class="tab-content" id="experimental_design_tabs_content">
                    <div class="tab-pane fade show active" id="comparison" role="tabpanel"
                        aria-labelledby="comparison_tab">

                        <button type="button" class="btn btn-large btn-block btn-success mt-3 mb-3"
                            onclick="add_comparison()">Add</button>

                        <div id="comparison_toolbar" style="margin: 0;"></div>
                        <table class="table table-hover" id="comparison-table" data-unique-id="header-0"
                            data-toolbar="#comparison_toolbar" data-pagination="true"
                            data-page-list="[10, 25, 50, 100, all]">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Case</th>
                                    <th>Control</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="comparison-tbody"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="experimental_design" role="tabpanel"
                        aria-labelledby="experimental_design_tab">
                        <textarea class="form-control mt-3 mb-3" rows="3" name="comparisons"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pimp setting -->
    <!-- analysis method select -->
    <!-- submit -->
    <div class="row">
        <div class="col-md-8"><button class="btn btn-lg btn-primary btn-block mb-2" id="analysis"><span
                    id="analysis_start">Start Analysis And Get Results</span><span id="analysis_running"><span
                        class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                    Running...</span></button></div>
    </div>
    <!-- submit -->
    <!-- analysis method select -->

    <hr>

    <!-- display result -->
    <div class="row">
        <div class="col-md-12">
            <h2>3. Results</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" style="margin: 0;"></div>
            <table class="table table-hover" id="result-table" data-toolbar="#toolbar" data-unique-id="header-0"
                data-pagination="true" data-search="true" data-show-columns="true" data-show-export="true"
                data-page-list="[10, 25, 50, 100, all]"></table>
            <!-- <div class="table-responsive pd-2 rounded">
                            </div> -->
        </div>
    </div>
    <!-- display result -->
</div>
<!-- content -->
{% endblock %}
{% block modals %}
<!-- modal comparison form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-comparison">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comparison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-comparison-content">
                <input type="hidden" name="save_comparison_type">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mt-2"><label>Name</label><input type="text" class="form-control"
                                name="comparison_name" value="1321">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mt-2"><label>Case</label>
                            <select name="comparison_case" class="form-control" required="required"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mt-2"><label>Control</label>
                            <select name="comparison_control" class="form-control" required="required"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save_comparison()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- modal comparison form -->

<!-- modal detail -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-detail">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-detail-content">
                <h4>map00130: Ubiquinone and other terpenoid-quinone biosynthesis [<a
                        href="https://www.genome.jp/dbget-bin/www_bget?map00130" target="_blank"
                        rel="noopener noreferrer">Info</a>]</h4>
                <p>p-value: 0.001586</p>
                <p>Formula Hits: 6</p>
                <p>Summary:</p>
                <p>CLASS : Metabolism; Metabolism of cofactors and vitamins</p>
                <img src="https://www.genome.jp/kegg/pathway/map/map00130.png" class="img-fluid" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
<!-- modal detail -->
{% endblock %}
{% block custom_javascript %}
<script src="https://reactome.org/DiagramJs/diagram/diagram.nocache.js"></script>
<script>
    // ---------------- init global parameters ----------------
    let bootstrap_table = null;
    let global_comparison = {};
    let reactomeDiagram = null;
    // ---------------- init global parameters ----------------

    // add new comparison
    function add_comparison() {
        console.log('add comparison ...');

        // set save type
        $("[name='save_comparison_type']")[0].value = 'add';

        // clean all data
        $("[name='comparison_name']")[0].value = '';

        // display modal
        $("#modal-comparison").modal("show");
    }
    // add new comparison

    // save comparison and update text
    function save_comparison() {
        // get input group data
        let comparison_control = $("[name='comparison_control']").val();
        let comparison_case = $("[name='comparison_case']").val();
        let comparison_name = $("[name='comparison_name']")[0].value;

        // add new row to table
        let new_row = $("<tr></tr>");
        new_row.append($("<td>" + comparison_name + "</td>"));
        new_row.append($("<td>" + comparison_case + "</td>"));
        new_row.append($("<td>" + comparison_control + "</td>"));
        new_row.append($(
            "<td><button type=\"button\" class=\"btn btn-danger\" onclick=\"delete_comparison($(this))\">Delete</button></td>"
        ));

        $("#comparison-tbody").append(new_row);

        // update global group data

        let new_comparison = {
            'name': comparison_name,
            'case': comparison_case,
            'control': comparison_control,
        }

        if (undefined == global_comparison['comparisons']) {
            global_comparison['comparisons'] = [];
        }
        global_comparison['comparisons'].push(new_comparison);

        // update experimental design
        $("[name='comparisons']").val(JSON.stringify([new_comparison]));
        // $("[name='experimental_design']").val(JSON.stringify(global_comparison));

        // close modal
        $("#modal-comparison").modal('hide');

        console.log('current global comparison:', global_comparison);
    }
    // save comparison and update text

    // delete comparison
    function delete_comparison(button) {
        // find this comparison name
        let row = button.parent().parent(':first').children();
        let comparison_name = row.eq(0).text();

        console.log('deleting comparison :', comparison_name);

        // delete group name from global comparison
        let target_comparison_index = -1;
        global_comparison['comparisons'].forEach((comparison, index) => {
            if (comparison['name'] == comparision_name) {
                target_comparison_index = index;
                return false;
            }
        });

        global_comparison['comparisons'].splice(target_comparison_index, 1);

        // update experimental design
        // $("[name='experimental_design']").val(JSON.stringify(global_comparison));

        // delete this row
        button.parent().parent(':first').remove();
        console.log('current global comparison:', global_comparison);
    }
    // delete comparison

    // load GNPS data from localstorage
    function load_gnps_data_from_local() {
        let gnps_metadata_df = localStorage.getItem("gnps_metadata_df");
        let gnps_url = localStorage.getItem("gnps_url");
        let comparisons = localStorage.getItem("comparisons");
        let gnps_load_data_filename = localStorage.getItem("gnps_load_data_filename");

        if (gnps_metadata_df != null) {

            gnps_metadata_df = JSON.parse(gnps_metadata_df);
            console.log('read GNPS metadata df:', gnps_metadata_df);

            $("[name='gnps_metadata_df_filename']").val(gnps_metadata_df.filename);

            // reset groups to comparison case and control select option
            $("[name='comparison_case']").empty();
            let case_select = $("[name='comparison_case']");
            gnps_metadata_df.groups.forEach(column => {
                case_select.append($("<option>" + column + "</option>"));
            });
            $("[name='comparison_control']").empty();
            let control_select = $("[name='comparison_control']");
            gnps_metadata_df.groups.forEach(column => {
                control_select.append($("<option>" + column + "</option>"));
            });
        }

        if (gnps_url != null) {
            // gnps_url = JSON.parse(gnps_url);
            console.log('read gnps url:', gnps_url);
            $("[name='gnps_url']").val(gnps_url);
        }

        if (comparisons != null) {
            // comparisons = JSON.parse(comparisons);
            console.log('read comparisons:', comparisons);
            $("[name='comparisons']").val(comparisons);
        }

        if (gnps_load_data_filename != null) {
            console.log('read gnps load data:', gnps_load_data_filename);
            $("[name='gnps_load_data_filename']").val(gnps_load_data_filename);
        }
    }
    // load GNPS data from localstorage

    // display details
    function display_detail(index) {
        console.log('display index:', index);

        // get this row data
        let row_header = $('#result-table').bootstrapTable('getRowByUniqueId', index);
        console.log('row header=', row_header)

        // replay row key by real names
        let columns = $('#result-table').bootstrapTable('getVisibleColumns');
        console.log('columns=', columns);
        let column_dict = {};
        columns.forEach(column => {
            column_dict[column["field"]] = column["title"];
        });
        console.log('column dict=', column_dict);

        let row = {}
        for (const key in row_header) {
            const element = row_header[key];
            const new_key = column_dict[key];
            row[new_key] = element;
        }

        let gnps_url = $("[name='gnps_url']")[0].value;
        let gnps_metadata_df_filename = $("[name='gnps_metadata_df_filename']").val();
        let comparisons = $("[name='comparisons']")[0].value;

        console.log('row=', row);
        let pathway_name = row['pw_name'];
        console.log('pathway_name=', pathway_name);
        let gnps_load_data_filename = $("[name='gnps_load_data_filename']").val();

        // ask for backend data
        // get csrf token
        let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
        // get csrf token

        let data = {
            csrfmiddlewaretoken: csrfmiddlewaretoken,
            row: JSON.stringify(row),
            gnps_url: gnps_url,
            gnps_metadata_df_filename: gnps_metadata_df_filename,
            comparisons: comparisons,
            gnps_load_data_filename: gnps_load_data_filename
        };

        // debug
        console.log('data=', data);
        // debug

        let url = "{% url 'pals_viewer:gnps_show_details' %}"

        // get all inputs, then post and get result
        // if error, just show errors
        // if success, just show tables
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: "json",
            success: function (data) {
                console.log(data);
                let status = data.status;
                if (status == 'success') {
                    let details = data.data.details;
                    $('#modal-detail-content').html(details);
                    $('#modal-detail').modal('show');
                } else {
                    let message = data.message;
                    show_message('Error', message);
                }
            },
            error: function (jqXHR, textStatus, err) {
                console.log(arguments);
                remove_loading_animation('#analysis');
                show_message('Error', err);
            },
            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
                remove_loading_animation('#analysis');
                // show_message('Info', 'Done!');
            },
            statusCode: {
                '403': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#analysis');
                    show_message('Error', err);
                },
                '400': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#analysis');
                    show_message('Error', err);
                }
            }
        });
    }
    // display details

    // 1. at first, we need to set the button to correct status
    remove_loading_animation('#analysis');;
    remove_loading_animation('#get_data');

    // loading localStorage cache data
    load_gnps_data_from_local();

    // 2. binding the click event to button
    //    if click the button, we need to submit data
    $('#analysis').click(function () {
        // display loading animation
        display_loading_animation('#analysis');

        // get all inputs, then post and get result
        let gnps_url = $("[name='gnps_url']")[0].value;
        let gnps_metadata_df_filename = $("[name='gnps_metadata_df_filename']").val();
        let comparisons = $("[name='comparisons']")[0].value;

        localStorage.setItem("gnps_url", gnps_url);
        localStorage.setItem("comparisons", comparisons);
        console.log('save gnps url to local...');

        // get csrf token
        let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
        // get csrf token

        let data = {
            csrfmiddlewaretoken: csrfmiddlewaretoken,
            gnps_url: gnps_url,
            gnps_metadata_df_filename: gnps_metadata_df_filename,
            comparisons: comparisons,
        };

        // debug
        window.console.log('data=', data)
        // debug

        // get all inputs, then post and get result
        // if error, just show errors
        // if success, just show tables
        $.ajax({
            url: "analysis",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (data) {
                console.log(data);
                let table = data.data.table;
                let headers = table.headers;
                let rows = table.rows;
                let display_columns = table.display_columns;
                let gnps_load_data_filename = data.data.gnps_load_data_filename;

                // save gnps load data filename
                localStorage.setItem("gnps_load_data_filename", gnps_load_data_filename);
                load_gnps_data_from_local();

                // display table
                display_table(headers, rows, display_columns);

                // save data to local
                let annotation_df = data.data.annotation_df;
                localStorage.setItem("gnps_annotation_df", JSON.stringify(annotation_df));
                console.log('save annotation_df to local...');

                let measurement_df = data.data.measurement_df;
                localStorage.setItem("gnps_measurement_df", JSON.stringify(measurement_df));
                console.log('save measurement_df to local...');

                let experimental_design = data.data.experimental_design;
                localStorage.setItem("gnps_experimental_design", JSON.stringify(
                    experimental_design));
                console.log('save experimental design to local...');

                remove_loading_animation('#analysis');
                show_message('Info', data.message);
            },
            error: function (jqXHR, textStatus, err) {
                console.log(arguments);
                remove_loading_animation('#analysis');
                show_message('Error', err);
            },
            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
                remove_loading_animation('#analysis');
                // show_message('Info', 'Done!');
            },
            statusCode: {
                '403': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#analysis');
                    show_message('Error', err);
                },
                '400': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#analysis');
                    show_message('Error', err);
                }
            }
        });
    });

    // 3. binding the click event to button
    //    if click the button, we need to get data from remote
    $('#get_data').click(function () {
        // display loading animation
        display_loading_animation('#get_data');

        // get all inputs, then post and get result
        let gnps_url = $("[name='gnps_url']")[0].value;

        let metadata_csv = $("[name='metadata']")[0].files[0];

        // get csrf token
        let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
        // get csrf token

        // debug
        window.console.log('gnps_url=', gnps_url)
        window.console.log('csrfmiddlewaretoken=', csrfmiddlewaretoken)
        // debug
        let data = {};
        let processData = false; // required for file uploading
        let contentType = false; // required for file uploading

        data = new FormData();
        data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);
        data.append('gnps_url', gnps_url);
        data.append('metadata_csv', metadata_csv);

        // get all inputs, then post and get result
        // if error, just show errors
        // if success, just show tables
        $.ajax({
            url: "{% url 'pals_viewer:gnps_get_data' %}",
            type: "POST",
            data: data,
            dataType: "json",
            processData: processData, // required for file uploading
            contentType: contentType, // required for file uploading
            success: function (data) {
                console.log(data);
                let status = data.status;

                if (status == 'success') {

                    // save data to local
                    let metadata_df = data.data.metadata_df;
                    localStorage.setItem("gnps_metadata_df", JSON.stringify(metadata_df));
                    console.log('save metadata_df to local...');

                    // load data to page
                    load_gnps_data_from_local();

                    remove_loading_animation('#get_data');
                    show_message('Info', data.message);
                } else {
                    remove_loading_animation('#get_data');
                    show_message('Error', data.message);
                }
            },
            error: function (jqXHR, textStatus, err) {
                console.log(arguments);
                remove_loading_animation('#get_data');
                show_message('Error', err);
            },
            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
                remove_loading_animation('#get_data');
                // show_message('Info', 'Done!');
            },
            statusCode: {
                '403': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#get_data');
                    show_message('Error', err);
                },
                '400': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                    remove_loading_animation('#get_data');
                    show_message('Error', err);
                }
            }
        });
    });
</script>
{% endblock %}